---
http_interactions:
- request:
    method: get
    uri: https://nrt4.modaps.eosdis.nasa.gov/api/v2/content/archives/FIRMS/c6/Global/MODIS_C6_Global_MCD14DL_NRT_2020022.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NASA_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain;charset=UTF-8
      last-modified:
      - Wed, 22 Jan 2020 08:02:34 GMT
      etag:
      - '"b3843be5838e634302cbb346952957db"'
      content-disposition:
      - attachment; filename=MODIS_C6_Australia_NewZealand_MCD14DL_NRT_2020022.txt
    body:
      encoding: UTF-8
      string: |
        latitude,longitude,brightness,scan,track,acq_date,acq_time,satellite,confidence,version,bright_t31,frp,daynight
        -12.875,142.334,309.8,1.5,1.2,2020-01-22,01:05,T,17,6.0NRT,284.4,9.2,D
        -12.878,142.327,310.4,1.5,1.2,2020-01-22,01:05,T,44,6.0NRT,283.9,11.4,D
        -18.866,139.325,335.1,1.2,1.1,2020-01-22,01:10,T,78,6.0NRT,292.8,33.8,D
  recorded_at: Wed, 22 Jan 2020 08:04:38 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=-12.875&lon=142.334
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":142.33,"lat":-12.88},"weather":[{"id":520,"main":"Rain","description":"light
        intensity shower rain","icon":"09d"}],"base":"stations","main":{"temp":300.15,"feels_like":302.78,"temp_min":300.15,"temp_max":300.15,"pressure":1008,"humidity":78},"visibility":10000,"wind":{"speed":3.6,"deg":270},"clouds":{"all":40},"dt":1579680278,"sys":{"type":1,"id":9509,"country":"AU","sunrise":1579637951,"sunset":1579683865},"timezone":36000,"id":2144209,"name":"Weipa","cod":200}'
  recorded_at: Wed, 22 Jan 2020 08:04:38 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=-18.866&lon=139.325
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":139.32,"lat":-18.87},"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"base":"model","main":{"temp":301.13,"feels_like":301.06,"temp_min":301.13,"temp_max":301.13,"pressure":1005,"humidity":72,"sea_level":1005,"grnd_level":992},"wind":{"speed":7.16,"deg":322},"rain":{"3h":0.25},"clouds":{"all":87},"dt":1579680278,"sys":{"country":"AU","sunrise":1579638100,"sunset":1579685160},"timezone":36000,"id":7839566,"name":"Burke","cod":200}'
  recorded_at: Wed, 22 Jan 2020 08:04:38 GMT
[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=<OPEN_WEATHER_API_KEY>&lat=-29.9&lon=151.61
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":151.61,"lat":-29.9},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"base":"stations","main":{"temp":300.95,"feels_like":300.26,"temp_min":299.26,"temp_max":302.59,"pressure":1011,"humidity":32},"wind":{"speed":0.89,"deg":213,"gust":3.13},"clouds":{"all":73},"dt":1579680280,"sys":{"type":3,"id":2017978,"country":"AU","sunrise":1579633948,"sunset":1579683412},"timezone":39600,"id":2158460,"name":"Maybole","cod":200}'
  recorded_at: Wed, 22 Jan 2020 08:04:40 GMT
[...]
- request:
    method: get
    uri: https://nrt4.modaps.eosdis.nasa.gov/api/v2/content/archives/FIRMS/viirs/Global/VIIRS_I_Global_VNP14IMGTDL_NRT_2020022.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NASA_API_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Wed, 22 Jan 2020 08:04:50 GMT
recorded_with: VCR 5.0.0
